<link rel="stylesheet" href="css/home.css">
<div class="row">
    <% layout('/layout/boilerplate') %>
    <div class="col-md-6 offset-3">
    </div>
</div>

<div class="header-section parallax" id="header">
    <div class="overlay light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="header-texts text-light">
                        <h4><small>Check the trip cost</small></h4>
                        <h4>Check and read reviews</h4>
                        <h3>Check Egypt's best places</h3>
                        <a href="/places" class="button btn btn-light">Start Here</a>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .overlay -->
</div><!-- .header-section -->
